@model dynamic

<!DOCTYPE html>
<html>

<head>
    <title>Jaguar Framework</title>
</head>

<body style="display: flex; justify-content: center; font-family: sans-serif; background: #414e5eff; color: white; font-size: 1.6rem;">

    <h1>@Model</h1>

</body>

</html>
