@model dynamic

<!DOCTYPE html>
<html>

<head>
    <title>Jaguar Framework</title>
</head>

<body style="display: flex; justify-content: center; font-family: sans-serif;">

    <h1>@Model</h1>

</body>

</html>
